[Unit]
Description=16 Button joystick automatic start with systemd, respawn, after bluetooth
After=bluetooth.target
After=multi-user.target
Requires=bluetooth.target

[Service]
ExecStart=/usr/bin/python3 -u joystick_16_buttons_inputevent.py
WorkingDirectory=/home/pi/RaspberryPi-Joystick/16_Buttons_Joystick/Code
Type=idle
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=16_buttons_joystick
User=pi
Group=pi

[Install]
WantedBy=multi-user.target



